{% extends 'base.html' %}

    {% block context %}    
    <blockquote>
        <p><h1>Cadastro de Clientes</h1></p>
        <hr>
    </blockquote>

    <form class="form-inline" action="/save_cliente/{{action}}" method=post>
        <input type=hidden name=action value={{action}}>
        <input type=hidden name=id value={{cliente.id}}>    
        <div class="control-group">
            <label class="control-label">Nome:</label>
            <div class="controls">
                <input class="input-xxlarge" type=text name=nome value={{cliente.nome}}>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label">Email:</label>
            <div class="controls">
                <input class="input-xxlarge" type="text" name="email" value={{cliente.email}}>
            </div>
        </div>
        
        <div class="control-group">
            <label class="control-label">Telefone:</label>
            <div class="controls">
                <input class="input-medium" type=text name=telefone value={{cliente.telefone}}>
            </div>
        </div>

        <div class="control-group">
            <input class="btn btn-primary" type=submit value=Salvar> 
            <a class="btn" href="/list_cliente">Cancelar</a>            
        </div>

    </form>
    <br>
    {% endblock %}
