{% extends 'base.html' %}

    {% block metas %}
        <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    {% endblock %}

    {% block context %}    
    <blockquote>
        <p><h1>Cadastro de Colaboradores</h1></p>
        <hr>
    </blockquote>

    <form class="form-inline" action="/save_colaborador/{{action}}" method=post>
        <input type=hidden name=action value={{action}}>
        <input type=hidden name=id value={{col.id}}>    
        <div class="control-group">
            <label class="control-label">Nome:</label>
            <div class="controls">
                <input class="input-xlarge" type="text" name="nome" value={{col.nome}}>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label">Tipo:</label>
            <div class="controls">
                <select class="span3" name="tipo">
                {% for item in tipos %}
                    <option>{{ item }}</option>
                {% endfor %}
                </select>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label">Departamento:</label>
            <div class="controls">
                <select class="span3" name="departamento">
                {% for item in departamentos %}
                    <option>{{ item }}</option>
                {% endfor %}
                </select>
            </div>
        </div>

        <div class="control-group">
            <input class="btn btn-primary" type="submit" value="Salvar"> 
            <a class="btn" href="/list_colaborador">Cancelar</a>            
        </div>

    </form>
    <br>


    {% endblock %}


