{% extends 'base.html' %}
   
    {% block context %}
    <div class="page-header">  
        <h1>Cadastro Flask/ORM</h1>
        <p>Sistema de Cadastro Flask/ORM</p>
    </div>
    

    <div class="navbar navbar-inverse">
        <h3>Menu de Cadastros</h3>
        <div class="navbar-inner">            
            <ul class="nav">
                <li><a href="/list_user">Usuario</a></li>
                <li class="divider-vertical"></li>
                <li><a href="#">Colaborador</a></li>
                <li class="divider-vertical"></li>
                <li><a href="#">Cliente</a></li>
                <li class="divider-vertical"></li>
                <li><a href="#">Fornecedor</a></li>
                <li class="divider-vertical"></li>
                <li><a href="#">Produto</a></li>
                <li class="divider-vertical"></li>
                <li><a href="#">Vendas</a></li>
                <li class="divider-vertical"></li>
                <li><a href="#">Contas a Pagar</a></li>
                <li class="divider-vertical"></li>
                <li><a href="#">Contas a Receber</a></li>
                <li class="divider-vertical"></li>
                <li><a href="#">Compras</a></li>                
            </ul>
        </div>
    </div>
    {% endblock %}
