{% extends 'base.html' %}

    {% block menu_superior %}
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">Cadastro Flask ORM</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li><a href="/">Inicio</a></li>
              <li class="active"><a href="/list_user">Usuario</a></li>
              <li><a href="/sobre">Sobre</a></li>              
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
    {% endblock %}

    {% block context %}    
    <h1>Cadastro de Usuario</h1>

    <form action="/save_user/{{action}}" method=post class=add-entry>
      <input type=hidden name=action value={{action}}>
      <input type=hidden name=id value={{user.id}}>    
      <dl>        
        <dt>Name:
        <dd><input type=text size=30 name=name value={{user.name}}>
        <dt>Full Name:
        <dd><input type=text size=50 name=fullname value={{user.fullname}}>
        <dt>Password:
        <dd><input type=password size=20 name=password value={{user.password}}>
        <dd><input class="btn btn-primary" type=submit value=Salvar> 
            <a class="btn btn-danger" href="/list_user">Cancelar</a>            
      </dl>      
    </form>

    {% endblock %}
