{% extends 'base.html' %}

    {% block context %}    
    <blockquote>
        <p><h1>Cadastro de Usuarios</h1></p>
        <hr>
    </blockquote>

    <form class="form-inline" action="/save_user/{{action}}" method=post>
        <input type=hidden name=action value={{action}}>
        <input type=hidden name=id value={{user.id}}>    
        <div class="control-group">
            <label class="control-label">Name:</label>
            <div class="controls">
                <input class="input-xlarge" type=text name=name value={{user.name}}>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label">Login:</label>
            <div class="controls">
                <input class="input-xxlarge" type=text name=login value={{user.login}}>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label">Password:</label>
            <div class="controls">
                <input class="input-medium" type="password" name="password" value={{user.password}}>
            </div>
        </div>

        <div class="control-group">
            <input class="btn btn-primary" type=submit value=Salvar> 
            <a class="btn" href="/list_user">Cancelar</a>            
        </div>

    </form>
    <br>
    {% endblock %}
